/* Color */
$themeColors: (
  primary: #409efe,
  secondary: #84c0ff,
) !default;

$textColors: (
  primary: #fff,
  secondary: #fff,
) !default;

/* Button Related */
$componentButtonColors: (
  bgColor: #fff,
  muteBgColor: #f5f5f5,
  muteBorderColor: #c9c9c9,
  activeBgColor: #fff,
) !default;
