@use "../../../common/style/variables/index.scss" as *;

.shadow-component__button {
  min-width: 92px;
  min-height: 36px;
  cursor: pointer;
  outline: none;
  border-radius: $borderRadius;
  padding: 9px 34px;
  font-size: 12px;
  line-height: 17px;
  border: solid 1px transparent;
  background-color: $buttonBgColor;
  &:hover {
    border: solid 1px $secondaryColor;
  }

  //
  transition: all $transitionDuration;
}
