@use "../../../common/style/variables/index.scss";

.shadow-component__button {
  &.button-primary {
    background-color: map-get($map: $themeColors, $key: primary);
    color: map-get($map: $textColors, $key: primary);
    &:hover {
      background-color: #84c0ff;
      border: solid 1px map-get($map: $themeColors, $key: secondary);
    }
  }
}
