@use "../../../../common/style/variables/index.scss";

.shadow-component__wave {
  height: 100%;
  width: 100%;
  position: absolute;
  // top: 0;
  // left: 0;
  z-index: map-get($map: $zIndex, $key: floor);
}
